	/*
  	Flaticon icon font: Flaticon
  	Creation date: 02/02/2017 05:50
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.html");
  src: url("../fonts/Flaticond41d.html?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon-2.html#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon-2.html#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-backpack:before { content: "\f100"; }
.flaticon-books-stack-of-three:before { content: "\f101"; }
.flaticon-business:before { content: "\f102"; }
.flaticon-chemistry:before { content: "\f103"; }
.flaticon-diploma:before { content: "\f104"; }
.flaticon-diploma-1:before { content: "\f105"; }
.flaticon-drawing:before { content: "\f106"; }
.flaticon-envelope:before { content: "\f107"; }
.flaticon-file:before { content: "\f108"; }
.flaticon-graduate-user-icon:before { content: "\f109"; }
.flaticon-light-bulb:before { content: "\f10a"; }
.flaticon-login:before { content: "\f10b"; }
.flaticon-music:before { content: "\f10c"; }
.flaticon-nature:before { content: "\f10d"; }
.flaticon-note:before { content: "\f10e"; }
.flaticon-note-1:before { content: "\f10f"; }
.flaticon-phone-call:before { content: "\f110"; }
.flaticon-play-button:before { content: "\f111"; }
.flaticon-play-button-1:before { content: "\f112"; }
.flaticon-plus-symbol:before { content: "\f113"; }
.flaticon-science:before { content: "\f114"; }
.flaticon-search:before { content: "\f115"; }
.flaticon-students-cap:before { content: "\f116"; }
.flaticon-suitcase:before { content: "\f117"; }
.flaticon-technology:before { content: "\f118"; }
.flaticon-time:before { content: "\f119"; }
.flaticon-transport:before { content: "\f11a"; }
.flaticon-web-page-home:before { content: "\f11b"; }
.flaticon-world:before { content: "\f11c"; }
.flaticon-worldwide:before { content: "\f11d"; }